/* css file for the jurasheep html */
/* design is very human */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  background: url(https://jurasheep.github.io/jurasheepfarm/bg.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255);
}

header {
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(8px);
}
  
  nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
nav li {
  display: inline;
  margin-right: 20px;
}
  
main {
  padding: 20px;
  text-align: center;
  align-items: center;
}
  
section {
  margin-bottom: 20px;
  align-items: center;
}
  
footer {
  color: #3da45f;
  text-align: center;
  font-family: tahoma;
  font-size: 16px;
}

a {
  color: rgb(212, 222, 243);
  text-transform: lowercase;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
}

.sumber1 {
  color: #525252;
  font-family: 'Courier New';
  font-size: 12px;
}
.navbarad {
  color: rgb(0, 115, 255);
}
.contacttor {
  text-align: center;
}